[submodule "programs/CNN"]
	path = programs/CNN
	url = https://github.com/Variable-Precision-GPU/CNN.git
[submodule "programs/MLP"]
	path = programs/MLP
	url = https://github.com/Variable-Precision-GPU/MLP.git
[submodule "programs/MLP2"]
	path = programs/MLP2
	url = https://github.com/Variable-Precision-GPU/MLP2.git
